body {
  margin: 0 0 0 0;
  background-color: #e6e6e6;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  margin: 0;
  overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
label {
  display: block;
}

.numberFormat {
  padding: 5px;
  background: #fafafa;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  width: 96%;
}

.auth-background {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('/public/img/fondo-davivienda-dashboard1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  height: 100vh;
}
.container-princ{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  padding-top: 1rem;
}
.auth-copyrigth-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.auth-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 20rem;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
  border-radius: 8px;
  flex-direction: column;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.auth-title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  padding: 1rem;
  color: #5c5b5c;
  padding-bottom: 2rem;
}

.btn-auth {
  background: #1c0e49;
  cursor: pointer;
  color: white;
  font: bold;
  border: 0;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
}

.input-auth {
  background: #ffffff;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}

.auth-input {
  padding: 1rem 0;
  font-weight: 500;
}

.copyright {
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  padding-top: 1rem;
}

.reset-password {
  color: #adadad;
  font-size: 12px;
  margin-left: 2rem;
}

.button-section {
  margin-top: 2rem;
}

.img-davivienda {
  width: 16rem;
}

.img-send {
  width: 112px;
  height: 112px;
}

.img-ePayco {
  padding-top: 0.5rem;
}

.right-side {
  align-self: center;
  font-size: 35px;
  width: 40%;
  text-align: center;
  color: #ffffff;
}

.to-login {
  color: #1c0e49;
  text-decoration: none;
  font-weight: 600;
}

.input-checkbox {
  background: #ffffff;
  border: 1px solid #5c5b5c;
  box-sizing: border-box;
  border-radius: 2px;
}

.auth-subtitle {
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #5c5b5c;
}

.policy-check {
  font-size: 12px;
}

.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-left: 3rem;
  margin-top: 5.5rem;
  opacity: 0.9;
  position: absolute;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -127px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
@media only screen and (max-width: 700px) {
  .right-side{
    display:none;
  }
  .logo-container{
    margin: 2rem 1rem;

  }
}
@media only screen and (max-width: 430px) {
  body{
    overflow: hidden;
  }
  .auth-background{
    background: white;
    padding: 0;
    min-width: 337px;
    overflow: auto;
  }
  .logo-container{
    padding: 1.5rem 0.5rem;
    background: #3A3A3A;
    margin: 0;
  }
  .img-ePayco{
    width: 5rem;
  }
  .img-davivienda{
    width: 12rem;
  }
  .copyright{
    color: rgb(0, 0, 0);
  }
}

.swal2-styled.swal2-confirm.swalBtnColor {
  color: #40a8e6;
  border: 1px solid #40a8e6;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.swal2-styled.swal2-cancel {
  color: #40a8e6;
  border: 1px solid #40a8e6;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.swal2-icon.swal2-warning {
  border-color: orange !important;
  color: orange !important;
}
