{% extends 'base.html.twig' %}
{%block stylesheets %}
{% endblock %}
{% block body %}
    <div id="root"></div>
    <div id="cont-modal"></div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app/js/app.js') }}"></script>
{% endblock %}